
<body>
<div class="mt-5 pt-5"></div>

<div class="color">
    <div class="col-md-4 float-left" *ngFor='let product of products '>
        <div class="card mt-4" style="background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);">
            <div class="card-header"> Name -  {{product.name}} </div>

            <div class="card-body" style="height: 350px;">
                <div class="card-img"> <img src="{{product.imgurl}}" alt="" width="100%" height="250px"> </div>
                <div class="card-title"> Details - {{product.details}}</div>
                <div class="card-title mt-4"> Qunatity - {{product.quantity}}</div>
            </div>
            <div class="card-footer">
                <div class="float-left">Rs.{{product.price}}/-</div>
                <div class="text-right">
                    <button class="btn btn-success mr-1" type="button" (click)='onUpdate(product.id)'>Update</button>
                    <button class="btn btn-secondary ml-1" type="button" (click)='onDelete(product.id)'>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>