
<div class="mt-5 pt-5"></div>
<div class="form-group col-md-4 offset-md-4">




<form class="form-inline my-2 "  #form='ngForm' (ngSubmit)='onSubmit(form)'>
   
    <input type="text"[(ngModel)]="search"class="form-control mr-5" name="search" placeholder="Enter the Products">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>

<!-- 
<div *ngFor="let prod of products | filter:search">
    <div class="card mt-5 pt-5 col-md-4 offset-md-4"> -->
<!-- 
{{prod.id}} -->
<div class="col-md-4 float-left" *ngFor='let prod of products | filter:search '>


<div class="card-header"> Name -{{prod.name}}</div>


<div class="card-header">Details -{{prod.details}}</div>
<div class="card-text">{{prod.quantity}} </div>
<div class="card-body"><img src="{{prod.imgurl}}" alt=""width="100%" height="400px"></div>
<div class="card-footer"> Price- Rs.{{prod.price}} &nbsp;&nbsp;  Quantity - {{prod.quantity}} </div>


    <!-- </div> -->
</div>
